body::after {
    content: "";
    background: url(https://cdn.jsdelivr.net/gh/knhuui2-kh/blogImage@main/img/5a6d8496c028a699650a66295897405b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    position: fixed;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}